<div class="page">
        <label class="field field_v1">
          <input class="field__input" placeholder="e.g. Stanislav" required>
          <span class="field__label-wrap">
            <span class="field__label">Username : </span>
          </span>
        </label>
        <label class="field field_v2">
          <input class="field__input" placeholder="e.g. Password123" required>
          <span class="field__label-wrap">
            <span class="field__label">Password :</span>
          </span>
        </label>    
</div>

<div class="bn40div">
    <a class="bn41" routerLink="/main-menu" routerLinkActive="active">Connexion</a>
    <a class="bn41" routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
</div>
