
<!-- Page Content -->
<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
  <div class="page">
    <label class="field field_v1" formGroupName="userName"> 
      <input class="field__input" placeholder="e.g. Stanislav" id="userName" formControlName="userName" required>
      <span class="field__label-wrap">
        <span class="field__label">Username : </span>
      </span>
    </label>
    
    <label class="field field_v2" formGroupName="password">
      <input class="field__input" placeholder="e.g. Password123" id="password" type="password" formControlName="password" required>
      <span class="field__label-wrap">
        <span class="field__label">Password :</span>
      </span>
    </label>
  </div>
                             
  <div class="bn40div">
    <a class="bn41" type="submit" routerLink="/main-menu" routerLinkActive="active">Connexion</a>
    <a class="bn41" routerLink="/register" routerLinkActive="active">S'inscrire</a>
  </div>  

</form>

 
  




