<body>
<p class="titre">Les Dogémon</p>
<ul class="doges">
  <label *ngFor="let doge of doges">
        <div class="style" >
          <button [class.selected]="doge === selectedDoge" type="button" (click)="onSelect(doge)">
          <img class="image" src="{{doge.imagePath}}">
          <span class="name">{{doge.nameCreature}}</span>
        </button>
      </div>
</label>
</ul>

<app-doge-detail [doge]="selectedDoge"></app-doge-detail>


<div class="bn40div">
  <a class="bn40" routerLink="/main-menu" routerLinkActive="active">RETOUR</a>
  <a class="bn41" type="button" (click)="onClick()">VALIDÉ</a>
</div>
</body>