<h2>les dogos</h2>
<ul class="doges">
  <label *ngFor="let doge of doges">
        <div class="style">
          <button [class.selected]="doge === selectedDoge" type="button" (click)="onSelect(doge)">
          <img class="image" src="{{doge.imagePath}}">
          <span class="name">{{doge.nameCreature}}</span>
        </button>
      </div>
</label>
</ul>

<app-doge-detail [doge]="selectedDoge"></app-doge-detail>

<nav>
    <a routerLink="/main-menu" routerLinkActive="active"><button>retour</button></a>
</nav>