<div class="test">
    <div class="box">
        <ul *ngIf="doge" class="doge">
            <div class="style" >
            <img class="image" src="{{doge.imagePath}}">
            <span class="name">{{doge.nameCreature}}</span>
            <progress class="player" id="file" max="100" value="{{pvNotreCreature}}"></progress>{{pvNotreCreature}}/{{doge.hpCreature}}<br/>
        </div>
        </ul>

    </div>
        <div class="box2">
            <ul *ngIf="doge" class="doge">
                <div class="style" >
                <img class="image" src="{{doge.imagePath}}">
                <span class="name">{{doge.nameCreature}}</span>
                <progress class="ennemi" id="file" max="100" value="{{pvNotreCreature}}"></progress>{{pvNotreCreature}}/{{doge.hpCreature}}<br/>
            </div>
            </ul>
        </div>
    </div>
<div class="message">
    <textarea class="textbox" readonly>
      {{champInformation}}
    </textarea> 
</div>
<div class="action">
    <div class="button">
        <button type="submit">Attaque</button>
    </div>

    <div class="button">
        <button type="submit" (click)="sac()">Sac</button>
    </div>

    <div class="button">
        <button type="submit" (click)="fuite()">Fuite</button>
    </div>
</div>




